.container
  .content.invoices
    %h1= t('users.application_to_invoices')
    %table.table-hover
      %tr
        %th= t('invoices.number_of_invoice')
        %th= t('invoices.seller')
        %th= t('invoices.buyer')
      - invoices.each do |invoice|
        %tr
          %td= invoice.number_of_invoice
          %td= invoice.own_company.company_name
          %td= invoice.other_company.company_name
          %td= link_to t('invoices.new_item_invoice'), new_invoice_item_path(invoice.id), class: 'btn btn-info'

    = link_to t('invoices.new_invoice'), new_invoice_path, class: 'btn btn-success btn-block'
    = link_to t('return'), users_path, class: 'btn btn-danger btn-block'
