%table
  %tr
    %th Numer Faktury
    %th Sprzedawca
    %th Nabywca
  - @invoices.each do |invoice|
    %tr
      %td
        = invoice.number_of_invoice
      %td
        - company_name = @company.find_by(id: invoice.id_own_company)
        = company_name.company_name
      %td
        - company_name = @company.find_by(id: invoice.id_invoice_company)
        = company_name.company_name
      %td
        = link_to 'nowa pozycja faktury', new_invoice_item_path(invoice.id)

= link_to "Nowa Faktura", new_invoice_path
= link_to 'powrót', users_path
