.container
  .content.invoices-new
    %h1= t('users.application_to_invoices')
    = simple_form_for invoice do |t|
      = t('invoices.number_of_invoice')
      = t.input :number_of_invoice, label: false
      = t('invoices.date_of_sold')
      = t.input :data_of_sold, label: false
      = t('invoices.date_build')
      = t.input :data_build, label: false
      = t('invoices.method_of_payment')
      = t.input :method_of_payment, collection: Invoice::Payment_method, prompt: t('invoices.select'), label: false
      = t('invoices.seller')
      = t.input :own_company_id, collection: companies, prompt: t('invoices.select'), label_method: :company_name, label: false
      = t('invoices.buyer')
      = t.input :other_company_id, collection: companies, prompt: t('invoices.select'), label_method: :company_name, label: false
      = t.button :submit, class: 'btn btn-success btn-block'
