Invoice
= simple_form_for invoice do |t|
  = t.input :number_of_invoice
  = t.input :data_of_sold
  = t.input :data_build
  = t.input :method_of_payment
  = t.input :id_own_company
  = t.input :id_invoice_company
  = t.button :submit

Items
= simple_form_for item do |f|
  = f.input :name_of_service
  = f.input :qty
  = f.input :unit
  = f.input :unit_net_price
