.container
  .content
    = render partial: 'shared/flashes'
    %h1= t('users.application_to_invoices')

    = link_to t('users.my_companies'), companies_path, class: 'btn btn-block btn-info'
    = link_to t('users.my_invoices'), invoices_path, class: 'btn btn-block btn-info'
    = link_to t('users.logout'), logout_path, class: 'btn btn-block btn-danger'

