= render partial: 'shared/flashes'
%h1= t('users.application_to_invoices')

Witaj

= link_to t('users.my_companies'), companies_path
= link_to t('users.my_invoices'), invoices_path
= link_to t('users.logout'), logout_path

