.container
  .content
    %h1= t('users.application_to_invoices')
    = simple_form_for user do |p|
      = t('users.username')
      = p.input :username, label: false
      = t('users.password')
      = p.input :password, label: false
      = t('users.confirm_password')
      = p.input :password_confirmation, label: false
      = p.button :submit, t('users.new_user'), class: 'btn btn-success btn-block'
    = link_to t('return'), users_path, class: 'btn btn-danger btn-block'
