= simple_form_for user do |p|
	= p.input :username, label: 'nazwa użytkownika'
	= p.input :password, label: 'hasło'
	= p.input :password_confirmation, label: 'potwierdzenie hasła'
	= p.button :submit
