.container
  .content
    %h1= t('users.application_to_invoices')
    = simple_form_for(company) do |f|
      = t('companies.name')
      = f.input :company_name, label: false
      = t('companies.nip')
      = f.input :nip, label: false
      = t('companies.country')
      = f.input :place_of_taxes, label: false
      = t('companies.city')
      = f.input :city, label: false
      = t('companies.street')
      = f.input :street, label: false
      = t('companies.zip_code')
      = f.input :zip_code, label: false
      = t('companies.phone_number')
      = f.input :phone_number, label: false
      = f.button :submit, class: 'btn btn-success btn-block'
      = link_to t('return'), users_path, class: 'btn btn-danger btn-block'
