= simple_form_for(company) do |f|
  = f.input :company_name, label: t('companies.name')
  = f.input :nip, label: t('companies.nip')
  = f.input :place_of_taxes, label: t('companies.country')
  = f.input :city, label: t('companies.city')
  = f.input :street, label: t('companies.street')
  = f.input :zip_code, label: t('companies.zip_code')
  = f.input :phone_number, label: t('companies.phone_number')
  = f.button :submit
