= simple_form_for(company) do |f|
	= f.input :company_name
	= f.input :nip
	= f.input :place_of_taxes
	= f.input :city
	= f.input :street
	= f.input :zip_code
	= f.input :phone_number
	= f.button :submit
