= simple_form_for(company) do |f|
	= f.input :company_name, label: 'nazwa firmy'
	= f.input :nip, label: 'nip'
	= f.input :place_of_taxes, label: 'kraj'
	= f.input :city, label: 'miasto'
	= f.input :street, label: 'ulica'
	= f.input :zip_code, label: 'kod pocztowy'
	= f.input :phone_number, label: 'numer telefonu'
	= f.button :submit
