%table
  %tr
    %th= t('items.name_of_service')
    %th= t('items.pkwiu')
    %th= t('items.qty')
    %th= t('items.unit')
    %th= t('items.unit_net_price')
    %th= t('items.total_net_price')
    %th= t('items.vat_rate')
    %th= t('items.vat_amount')
    %th= t('items.total_gross_price')
  - items.each do |item|
    %tr
      %td= item.name_of_service
      %td= item.pkwiu
      %td= item.qty
      %td= item.unit
      %td= item.unit_net_price
      %td= item.total_net_price
      %td= item.vat_rate
      %td= item.vat_amount
      %td= item.total_gross_price

= link_to t('items.return'), invoices_path


