= simple_form_for item, url: invoice_items_path do |f|
  = f.input :name_of_service, label: 'Nazwa Pozycji'
  = f.input :pkwiu, label: 'PKWIU'
  = f.input :qty, label: 'Ilość'
  = f.input :unit, collection: ['mb','m2','m3','kg','cm','szt.'], prompt: 'Wybierz jednostkę!', label:'Jednostka'
  = f.input :unit_net_price, label:'Cena jednostkowa'
  = f.input :vat_rate, collection: [0.08, 0.23], label:'Stawka Vat'
  = f.button :submit
