= simple_form_for item do |f|
  = f.input :name_of_service
  = f.input :qty
  = f.input :unit, collection: ["mb","m2","m3","kg","cm","szt."], prompt: "Wybierz jednostkę!"
  = f.input :unit_net_price
  = f.button :submit
